.notfound-wrap {
   height: 1000px;
    background-image: url('https://i.ibb.co/WKhRPSW/404.png');
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    display: grid;
    justify-content: center;
    align-items: center;
}